<div class="card p-4">
    <h2 class="text-center text-orange-600 font-bold mb-4">Administración de Usuarios</h2>
    <div class="flex justify-content-end mb-3">
        <p-button *appHasPermission="'CREATE_USER'" label="Nuevo Usuario" icon="pi pi-user-plus" severity="success" (onClick)="showDialog()"></p-button>
    </div>

    <p-dialog header="isEditMode ? 'Editar Usuario' : 'Registrar Nuevo Usuario'" [(visible)]="display" [modal]="true" [style]="{ width: '30vw' }">
        <div class="flex flex-column gap-3">
            <input pInputText placeholder="Nombre" [(ngModel)]="nuevoUsuario.first_name" />
            <input pInputText placeholder="Apellido Paterno" [(ngModel)]="nuevoUsuario.middle_name" />
            <input pInputText placeholder="Apellido Materno" [(ngModel)]="nuevoUsuario.last_name" />
            <input pInputText placeholder="Username" [(ngModel)]="nuevoUsuario.username" />
            <input pInputText placeholder="Email" [(ngModel)]="nuevoUsuario.email" />
            <input pInputText type="password" placeholder="Password" [(ngModel)]="nuevoUsuario.password" />

            <p-select [options]="rolesDisponibles" [(ngModel)]="nuevoUsuario.role_id" optionLabel="role" optionValue="id" placeholder="Seleccionar Rol" appendTo="body"></p-select>

            <div class="flex justify-content-end mt-2">
                <p-button label="Guardar" icon="pi pi-check" (onClick)="guardarUsuario()"></p-button>
            </div>
        </div>
    </p-dialog>
    <div style="width: 100%; overflow-x: auto;">
      <p-table
          #dt
          [value]="usuarios"
          [rows]="4"
          [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 20]"
          [globalFilterFields]="['username', 'nombre', 'apellido_p', 'rol']"
          [scrollable]="true"
          scrollHeight="flex"
          scrollDirection="horizontal"
          styleClass="p-datatable-gridlines p-datatable-striped"
          [tableStyle]="{ 'min-width': '60rem' }"
          responsiveLayout="scroll"
          [breakpoint]="'960px'"
      >

        <ng-template pTemplate="header">
            <tr>
                <th style="width:12%">Usuario</th>
                <th style="width:15%">Nombre</th>
                <th style="width:15%">Apellido Paterno</th>
                <th style="width:15%">Apellido Materno</th>
                <th style="width:12%">Rol</th>
                <th style="width:12%">Estatus</th>
                <th style="width:19%">Acciones</th>
            </tr>
            <tr>
                <th><p-columnFilter type="text" field="username" placeholder="Buscar"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="nombre" placeholder="Buscar"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="apellido_p" placeholder="Buscar"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="apellido_m" placeholder="Buscar"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="rol" placeholder="Buscar"></p-columnFilter></th>
                <th>
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-select [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Estatus" [showClear]="true" appendTo="body">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.label" [severity]="getSeverity(option.value)"></p-tag>
                                </ng-template>
                            </p-select>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellido_p }}</td>
                <td>{{ user.apellido_m }}</td>
                <td>{{ user.rol }}</td>
                <td>
                    <p-tag [value]="user.status | uppercase" [severity]="getSeverity(user.status)"></p-tag>
                </td>
                <td class="text-center">
                    <p-button *appHasPermission="'UPDATE_USER'" icon="pi pi-pencil" [rounded]="true" severity="warn" [outlined]="true" class="mr-2" label="Editar" (onClick)="editarUsuario(user)"></p-button>
                    <p-button *appHasPermission="'DELETE_USER'" icon="pi pi-trash" [rounded]="true" severity="danger" [outlined]="true" label="Eliminar" (onClick)="confirmarEliminacion(user)"></p-button>

                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7" class="text-center p-4">No se encontraron registros de usuarios para SEGIAGUA.</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
