<div class="layout-wrapper flex flex-column min-h-screen">

    <div class="layout-topbar flex align-items-center justify-content-between px-4 surface-card" style="border-bottom: 3px solid var(--naranja-login);">
        <div class="flex align-items-center">
            <!-- <i class="pi pi-bars text-2xl cursor-pointer mr-3 lg:hidden"></i> -->
            <div class="flex align-items-center p-4 border-bottom-1 surface-border gap-3">
                <img src="/logosegiaguag.png" alt="Logo" style="width: 40px; border-radius: 8px;">
                <span class="font-bold text-xl vertical-align-middle">SEGIAGUA</span>
            </div>

        </div>

        <div class="flex align-items-center gap-3">
            <p-button icon="pi pi-bell" [rounded]="true" [text]="true" severity="secondary"></p-button>
            <p-button label="Salir" icon="pi pi-sign-out" severity="danger" [outlined]="true" size="small"></p-button>
        </div>
    </div>

    <div class="flex flex-row flex-grow-1">

        <div class="layout-sidebar surface-section shadow-1 flex flex-column w-18rem hidden lg:flex">
            <div class="flex align-items-center p-3 border-bottom-1 surface-border">
              <div class="avatar-circle flex align-items-center justify-content-center border-circle font-bold mr-3"
             style="width: 48px; height: 48px;">
                {{ userInitial }}
              </div>

              <div class="flex flex-column">
                <span class="font-bold text-xl text-primary line-height-2">
                  {{ userName }}
                </span>

                <span class="text-sm text-slate-500 white-space-nowrap overflow-hidden text-overflow-ellipsis"
                      style="max-width: 150px;">
                  {{ fullName }}
                </span>
              </div>
            </div>

            <div class="p-3 flex-grow-1">
                <ul class="list-none p-0 m-0">
                    <li class="mb-2">
                        <a routerLink="/principal" class="flex align-items-center p-3 border-round text-700 hover:surface-100 transition-colors transition-duration-150 cursor-pointer no-underline">
                            <i class="pi pi-home mr-2"></i>
                            <span class="font-medium">Inicio</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/usuarios" class="flex align-items-center p-3 border-round text-700 hover:surface-100 transition-colors transition-duration-150 cursor-pointer no-underline">
                            <i class="pi pi-users mr-2"></i>
                            <span class="font-medium">Gestión de Usuarios</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <main class="layout-content p-4 flex-grow-1 surface-ground">
            <div class="card p-4 shadow-1 border-round surface-card min-h-full">
                <router-outlet></router-outlet>
            </div>
        </main>

    </div>
</div>
