::ng-deep .p-dropdown {
  width: auto !important;
  min-width: 200px; /* Un tamaño mínimo para que no se vea minúsculo */
  max-width: 350px; /* Para que si la colonia es muy larga, no rompa el diseño */
}

/* Para que el texto interno no empuje demasiado */
::ng-deep .p-dropdown-label {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Clase para la tarjeta blanca */
.chart-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px; /* Evita que choquen con el borde de abajo */
}

/* El contenedor del canvas debe ocupar todo el espacio restante */
.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 400px;
}

/* Para Celulares Pequeños (Menos de 768px) */
@media screen and (max-width: 767px) {
  .chart-container {
    height: 380px;
  }
}

/* Para Computadoras (Pantalla Completa - lg en PrimeFlex es 992px) */
@media screen and (min-width: 992px) {
  .chart-container {
    height: 500px;
  }
}
